vendor/
config.php
public/images/*.jpg
public/images/*.ico
public/images/*.png
public/images/*.gif
public/images/*.jpeg
public/images/*.web
public/images/*.webp
public/images/*.svg
public/images/*.pdf
public/images/*.docx
public/images/*.doc


public/books/*.pdf
public/books/*.docx
public/books/*.doc
public/books/*.epub
public/books/*.mobi
public/covers/*.jpg
public/covers/*.jpeg
public/covers/*.png
public/covers/*.gif
public/covers/*.webp
public/covers/*.svg
public/covers/*.web